<!doctype html>
<html>

<head>
    <style type="text/css">
        .header{
            text-align: center;
            background-color: rgb(136, 185, 229);
            height: 70px;
            line-height: 70px;
        }
        .chart{
            margin-top: 30px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="header">
        <h3>Data Science Tweets</h3>
    </div>

    <p  style="font-size:22px;"><a href="{{ url_for('ai_tweets') }}">Explore AI Tweets</a></p>
    <p  style="font-size:22px;"><a href="{{ url_for('all_tweets') }}">Explore All Tweets</a></p>




</body>
</html>