delta==0.4.2
flask==1.1.1
spacy==2.2.3
kafka-python==2.0.1
textblob==0.15.3
plotly==4.1.1
psycopg2==2.8.3
pandas
numpy
Flask-Menu==0.7.1
flask-paginate==0.5.5
tweepy==3.8.0
pyspark==2.4.4
pyarrow==0.16.0
#EDA
python-snappy==0.5.4
wordcloud==1.4.1
pillow==7.0.0
imgeio==2.6.1
textacy==0.10.0
tqdm
swifter==0.301
pytest==5.3.5
pytest-spark==0.4.5
