<!doctype html>
<html>

<head>
    <style type="text/css">
        .header{
            text-align: center;
            background-color: rgb(136, 185, 229);
            height: 70px;
            line-height: 70px;
        }
        .chart{
            margin-top: 30px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="header">
        <h3>Welcome to Text Binary Classification Tagger</h3>
    </div>

{#    <p  style="font-size:22px;"><a href="{{ url_for('upload_data') }}">Upload Data</a></p>#}
{#    <p  style="font-size:22px;"><a href="{{ url_for('upload_labels') }}">Upload Labels</a></p>#}
{#    <p  style="font-size:22px;"><a href="{{ url_for('uploaded_files_list') }}">Files List</a></p>#}
{#    <p  style="font-size:22px;"><a href="{{ url_for('download_files_list') }}">Download Data Files</a></p>#}
    <p  style="font-size:22px;"><a href="{{ url_for('tables_list') }}">Dataset Tables List</a></p>



</body>
</html>