<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        .header{
            text-align: center;
            background-color: rgb(136, 185, 229);
            height: 70px;
            line-height: 70px;
        }
        .chart{
            margin-top: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="header">
        <h3>Upload your CSV data here...</h3>
    </div>

    <br>
        The CSV/Parquet should have following columns: <br><br>
        id : Record number starting from 0 <br>
        text: Text column that's needs to validated for labels <br>
        label : Text labels of type integer <br><br>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>

    <br>
    Uploaded file  <b> {{ file }} </b> with {{ count }} records!
    <br><br><br>

    <p  style="font-size:18px;"><a href="{{ url_for('upload_labels') }}">Upload labels in CSV format with same file name followed bt "_label.csv"</a></p>
   <p><a href="{{ url_for('index') }}"><<< Back to Home</a></p>

</body>
</html>